[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2 = "*"
joblib = "*"
scikit-learn = "==0.20.1"
gensim = "*"
pandas = "*"
numpy = "*"

[requires]
python_version = "3"
